
body {
    position: relative;
    margin: 10px;
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    text-align: center;
}

h1 {
    font-family: 'Courier' , monospace;
    margin-top: 60px;
    font-size: 25px;
    color: #333;
}

.menu a:hover {
    background: #e0e0e0;
}

.menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-left: 25%;
}

.presentation {
    position: absolute;
    top: 1%;
    right: 1%;
    margin-right: 20%;
}

.titre {
    margin-left: 20%;
    text-align: left;
}
