@media (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}


body {
    font-family: Incosolate , monospace;
    background-color: #F5F5F5;
    padding: 20px;
}

.presentation {
    position: fixed;
    top: 5%;
    right: 2%;
}

.titre {
    position: absolute;
    font-style: oblique;
    font-weight: ultralight;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 75%;
    color: #333;
}

.menu a:hover {
    background: #e0e0e0;
}

.menu {
    margin-top: 10%;
    margin-left: 23%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
