
body {
    position: relative;
    margin: 10px;
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
    margin-top: 60px;
    font-size: 32px;
    color: #333;
}

.menu a:hover {
    background: #e0e0e0;
}

.menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.presentation {
    position: absolute;
    top: 20px;
    right: 20px;
}

