html {
    Background-color: lightgrey;
}


h1 {
 font-family: 'Courier', Courier, monospace;
 font-size: large;
 color:grey;

}

.Coding .lien_utile .presentation .titre {
display: flex;
flex-direction: column ;
}

.presentation {
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.lien_utile {
    text-decoration: none;
color: slategray;
 font-family: 'Courier', Courier, monospace;
 font-size: large;

}

.Coding {
text-decoration: none;
color: slategray;
 font-family: 'Courier', Courier, monospace;
 font-size: large;

}

.Coding {
text-decoration: none;
color: slategray;
 font-family: 'Courier', Courier, monospace;
 font-size: large;

}

.Coding {
text-decoration: none;
color: slategray;
 font-family: 'Courier', Courier, monospace;
 font-size: large;

}

.titre {

}



